.title {
    text-align: center; 
}

body {
    border: 2px black;
    background-color: silver;
    margin: 50px 250px 200px 200px;
    padding: 20px 20px 20px 40px;

    height: 40px;
    color: white;
}

.css-class {
    text-align: center;
    background-color: teal;
}

#number-one {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color:rgb(170, 114, 36);
}